{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/css_bootstrap.min.css' %}" rel="stylesheet">
    <title>Hello, world!</title>
</head>
<body>
    {% include 'core/navbar.html' %}
    <div class="container my-5">
        {% block container %}
        {% endblock container %}
    </div>
    <!-- BOOTSTRAP JS -->
    {% include 'core/footer.html' %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %} "></script>
</body>
</html>



  